.related-ul {
    list-style: none;
}
.related-ul li a {
    text-decoration: none;
    color: white;
}
.related-ul li {
    padding: 2px 0px;
    transition: all 0.3s ease-in;
    cursor: pointer;
}
.related-ul li:hover {
    transform: translateX(7px);
}

.related-ul li::before {
    color: #c5c2c2;
    content: "➢";
    margin-right: 7px;
}
ul.we-accept-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
ul.we-accept-ul li {
    padding: 5px;
}
ul.we-accept-ul img {
    width: 60px;
    height: 60px;
}




#footer {
    margin-top: 40px;
    height: calc(100%/2);
    background-color: black;
  }
  ul.socila-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    padding: 10px 20px;
  }
  .scial-li a {
    color: #fff;
    background: rgb(8, 7, 7);
    padding: 15px 17px;
    border-radius: 50%;
    transition: all 0.5s ease;
  }
  li.scial-li {
    padding: 15px 20px;
  }
  .socila-ul a:hover .bi-facebook {
    transform: rotate(360deg)scale(1.2);
  }
  
  
  .facebook:hover {
    background-color: #fff;
    /* border: 5px solid blue; */
    color: #0572e6;
    transform: scale(1.2);
  }
  .instagram:hover {
    background-color: #fff;
    color: #fe1c7f;
  
  }
  .linkedin:hover {
    background-color: #fff;
    color: #0a66c2;
  }
  .twitter:hover {
    background-color: #fff;
    color: #1d9bf0;
  }
  .youtube:hover {
    background-color: #fff;
    color: red;
  }
  ul.footer-add-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
  }
  .footer-add-ul li {
    color: rgb(216, 211, 211);
    padding: 10px;
    text-decoration: none;
  }
  .footer-add-ul li a {
  color: #fff;
  text-decoration: none;
  margin-left: 5px;
  font-size: 14px;
  }
  .copyright {
    padding: 15px;
    color: white;
  }

  

  @media (max-width:768px) {
    ul.footer-add-ul {
        display: flex;
        justify-content: flex-start;
    }
    li.scial-li {
        padding: 0px 7px;
    }
    .scial-li a {
        padding: 10px;
    }
    
  }